<section class="container">

	<h2 class="m-3 bg-light">マイページ</h2>
	<h3>
		登録情報
	  <%= link_to "編集する", edit_information_path, class: "btn btn-success" %>
	</h3>  
	<table class="m-3">
		<thead>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr class="border">
				<td class="border bg-light">氏名</td>
				<td><%= @customer.first_name %></td>
				<td><%= @customer.last_name %></td>
			</tr>
			<tr class="border">
				<td class="border bg-light">カナ</td>
				<td><%= @customer.first_name_kana %></td>
				<td><%= @customer.last_name_kana %></td>
			</tr>
			<tr class="border">
				<td class="border bg-light">郵便番号</td>
				<td><%= @customer.postal_code %></td>
			</tr>
			<tr class="border">
				<td class="border bg-light">住所</td>
				<td><%= @customer.address %></td>
			</tr>
			<tr class="border">
				<td class="border bg-light">電話番号</td>
				<td><%= @customer.telephone_number %></td>
			</tr>
			<tr class="border">
				<td class="border bg-light">メールアドレス</td>
				<td><%= @customer.email %></td>
			</tr>
		</tbody>
	</table>
	<table>
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>配送先</td>
          <td><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <td>注文履歴</td>
          <td><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></td>
        </tr>  
      </tbody>
    </table>
</section>