<section class="container">
  <h2 class="bg-light">管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="customer_info customer_form mx-auto">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder =>"sample@example.com" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <%= render "admin/shared/links" %>
</section>