<section class="container">
	<div class="content">
		<div class="mv">
			<p class="border text-center">
				ようこそ、NaganoCakeへ!<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。
			</p>
		</div>
		<h2 class="section-ttl">新着商品</h2>
		<div class="row justify-content-around">
			<% @items.each do |item| %>
				<%= link_to item_path(item) do %>
					<% if item.image.attached? %>
            <%= image_tag item.image, size: "300x300" %>
          <% else %>
            <%= image_tag 'no_image', size: "300x300" %>
          <% end %>
					<p class="text-dark"><%= item.name %></p>
					<p class="text-dark">¥<%= item.with_tax_price %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</section>