<%= form_with model: address do |f| %>
	<table>
    <thead>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
        <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
      </tr>
      <tr>
        <td><%= f.label :destination, "住所" %></td>
        <td><%= f.text_field :destination, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
      </tr>
      <tr>
        <td><%= f.label :name, "宛名" %></td>
        <td><%= f.text_field :name, placeholder: "令和道子" %></td>
        <td><%= f.submit submit, class: "btn btn-success" %></td>
      </tr>  
    </tbody>
  </table>
<% end %>