<section class="container">
	<h2 class="m-3 bg-light d-inline-block">注文履歴詳細</h2>

	<table>
		<thead>
			<tr>
				<th>注文情報</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="bg-light border">注文日</td>
				<td class="border"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
			</tr>
			<tr>
				<td class="bg-light border">配送先</td>
				<td class="border">
					〒<%= @order.postal_code %><br>
					<%= @order.destination %><br>
					<%= @order.name %>
				</td>
			</tr>
			<tr>
				<td class="bg-light border">支払方法</td>
				<td class="border"><%= @order.payment_method_i18n %></td>
			</tr>
			<tr>
				<td class="bg-light border">ステータス</td>
				<td class="border"><%= @order.status_i18n %></td>
			</tr>
		</tbody>
	</table>

	<table class="order_details mr2 has_border">
		<h6 class="text-left mt-3 font-weight-bold">注文内容</h6>
		<thead>
			<tr class="bg-light">
				<th class="border">商品</th>
				<th class="border">単価(税込)</th>
				<th class="border">個数</th>
				<th class="border">小計</th>
			</tr>
		</thead>
		<tbody>
			<% @sum = 0 %>
			<% @order.order_details.includes(:item).each do |order_detail| %>
				<% item = order_detail.item %>
				<tr>
					<td class="border"><%= link_to item.name, item_path(item), class: "text-dark" %></td>
					<td class="border"><%= order_detail.price %></td>
					<td class="border"><%= order_detail.amount %></td>
					<td class="border"><%= order_detail.subtotal.to_s(:delimited) %></td>
				</tr>
				<% @sum += order_detail.subtotal %>
			<% end %>
		</tbody>
	</table>

	<table class="mt-3">
		<thead>
			<tr>
				<th>請求情報</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="bg-light border">商品合計</td>
				<td class="border"><%= @sum.to_s(:delimited) %></td>
			</tr>
			<tr>
				<td class="bg-light border">配送料</td>
				<td class="border"><%= @order.shipping_cost %></td>
			</tr>
			<tr>
				<td class="bg-light border">ご請求額</td>
				<td class="bold border"><%= @order.grand_total.to_s(:delimited) %></td>
			</tr>
		</tbody>
	</table>
</section>