<section class="container">
	<div class="row">
		<div class="col-md-3 border">
			<h6 class="m-3 border">ジャンル検索</h3>
			<% @genres.each do |genre| %>
				<%= link_to genre.name, items_path(genre_id: genre.id), class: "text-dark" %><br>
			<% end %>
		</div>
		<div class="col-md-8">
      <% if params[:genre_id] %>
        <h2 class="m-3">
          <%= @genre.name %>一覧(全<%= @all_items_count %>件)
        </h2>
      <% else %>
        <h2 class="m-3">
          商品一覧(全<%= @all_items_count %>件)
        </h2>
      <% end %>

			<div class="row justify-content-around">
				<% @items.each do |item| %>
					<%= link_to item_path(item) do %>
						<% if item.image.attached? %>
		          <%= image_tag item.image, size: "300x300" %>
		        <% else %>
		          <%= image_tag 'no_image', size: "300x300" %>
		        <% end %>
						<p class="text-dark"><%= item.name %></p>
						<p class="text-dark">¥<%= item.with_tax_price %></p>
					<% end %>
				<% end %>
			</div>
		</div>	
	</div>	
</section>